.icon-badge #icon_preview {
  font-size: 3em;
}

@charset "UTF-8";
/* Mixin */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,400i,600,700,700i';
@font-face {
  font-family: icons;
  src: url("../../../../themes/custom/bs_base_theme/fonts/icons/icons.eot");
  src: url("../../../../themes/custom/bs_base_theme/fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../../../../themes/custom/bs_base_theme/fonts/icons/icons.woff") format("woff"), url("../../../../themes/custom/bs_base_theme/fonts/icons/icons.ttf") format("truetype"), url("../../../../themes/custom/bs_base_theme/fonts/icons/icons.svg#icons") format("svg");

  font-weight: normal;
  font-style: normal; }

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-family: 'icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

  .icon.-animal-weight:before {
    content: ""; }

  .icon.-animal-measure:before {
    content: ""; }

  .icon.-animal-hourglass:before {
    content: ""; }

  .icon.-animal-gregarious:before {
    content: ""; }

  .icon.-animal-lonely:before {
    content: ""; }

  .icon.-animal-jungle:before {
    content: ""; }

  .icon.-animal-mountain:before {
    content: ""; }

  .icon.-animal-desert:before {
    content: ""; }

  .icon.-animal-sea:before {
    content: ""; }

  .icon.-animal-stream:before {
    content: ""; }

  .icon.-animal-woods:before {
    content: ""; }

  .icon.-animal-savannah:before {
    content: ""; }

  .icon.-animal-wetlands:before {
    content: ""; }

  .icon.-animal-carnivorous:before {
    content: ""; }

  .icon.-animal-omnivorous:before {
    content: ""; }

  .icon.-animal-fruit:before {
    content: ""; }

  .icon.-animal-fish:before {
    content: ""; }

  .icon.-animal-filter:before {
    content: ""; }

  .icon.-animal-insect:before {
    content: ""; }

  .icon.-animal-carrion:before {
    content: ""; }

  .icon.-animal-grass:before {
    content: ""; }

  .icon.-animal-viviparous:before {
    content: ""; }

  .icon.-animal-oviparous:before {
    content: ""; }

  .icon.-animal-ovovivipar:before {
    content: ""; }

  .icon.-animal-description:before {
    content: ""; }

  .icon.-animal-behaviour:before {
    content: ""; }

  .icon.-animal-panda:before {
    content: ""; }

  .icon.-why:before {
    content: ""; }

  .icon.-entrar:before {
    content: ""; }

  .icon.-salir:before {
    content: ""; }

  .icon.-buscar:before {
    content: ""; }

  .icon.-tikets:before {
    content: ""; }

  .icon.-mail:before {
    content: ""; }

  .icon.-google-plus:before {
    content: ""; }

  .icon.-facebook:before {
    content: ""; }

  .icon.-twitter:before {
    content: ""; }

  .icon.-youtube:before {
    content: ""; }

  .icon.-flickr:before {
    content: ""; }

  .icon.-instagram:before {
    content: ""; }

  .icon.-back:before {
    content: ""; }

  .icon.-calendar:before {
    content: ""; }

  .icon.-mono:before {
    content: ""; }

  .icon.-ok:before {
    content: ""; }

  .icon.-dropdown-caret:before {
    content: ""; }

  .icon.-check:before {
    content: ""; }

  .icon.-exclamation:before {
    content: ""; }

  .icon.-caret-left-circle:before {
    content: ""; }

  .icon.-caret-right-circle:before {
    content: ""; }

  .icon.-caret-down-circle:before {
    content: ""; }

  .icon.-caret-up-circle:before {
    content: ""; }

  .icon.-slider-left:before {
    content: ""; }

  .icon.-slider-right:before {
    content: ""; }

  .icon.-caret-left:before {
    content: ""; }

  .icon.-caret-right:before {
    content: ""; }

  .icon.-caret-down:before {
    content: ""; }

  .icon.-caret-up:before {
    content: ""; }

  .icon.-close:before {
    content: ""; }

  .icon.-menu-map-marker:before {
    content: ""; }

  .icon.-menu-plans:before {
    content: ""; }

  .icon.-menu-timetable:before {
    content: ""; }

  .icon.-menu-services:before {
    content: ""; }

  .icon.-menu-rates:before {
    content: ""; }

  .icon.-menu-plane:before {
    content: ""; }

  .icon.-menu-animals:before {
    content: ""; }

  .icon.-menu-plants:before {
    content: ""; }

  .icon.-menu-spaces:before {
    content: ""; }

  .icon.-menu-free-activities:before {
    content: ""; }

  .icon.-menu-infantils-aventures:before {
    content: ""; }

  .icon.-menu-zoolidari:before {
    content: ""; }

  .icon.-menu-casals:before {
    content: ""; }

  .icon.-menu-birthday:before {
    content: ""; }

  .icon.-menu-games:before {
    content: ""; }

  .icon.-menu-infantil:before {
    content: ""; }

  .icon.-menu-primaria:before {
    content: ""; }

  .icon.-menu-mitja:before {
    content: ""; }

  .icon.-menu-superior:before {
    content: ""; }

  .icon.-menu-eso:before {
    content: ""; }

  .icon.-menu-batxillerat:before {
    content: ""; }

  .icon.-menu-recerca-eso:before {
    content: ""; }

  .icon.-menu-recerca-batxillerat:before {
    content: ""; }

  .icon.-menu-zoo-club:before {
    content: ""; }

  .icon.-menu-apadrina:before {
    content: ""; }

  .icon.-menu-amics-del-zoo:before {
    content: ""; }

  .icon.-menu-patrocinadors:before {
    content: ""; }

  .icon.-menu-panda:before {
    content: ""; }

  .icon.-menu-book:before {
    content: ""; }

  .icon.-menu-family:before {
    content: ""; }

  .icon.-plant-estiu:before {
    content: ""; }

  .icon.-plant-primavera:before {
    content: ""; }

  .icon.-plant-tardor:before {
    content: ""; }

  .icon.-plant-hivern:before {
    content: ""; }
